<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/chooseContentType.css">
    <title>Document</title>
</head>
<body>
    <div id="ContentBox">
        <div id="searchBar">
            <input type="text" placeholder="Search..." id="SearchInput">
        </div>
        <div id="ContentNatures">
            <div class="Nature"><span>Math</span></div>
            <div class="Nature"><span>Ai</span></div>
            <div class="Nature"><span>Code</span></div>
           
        </div>
        
        <div id="contentList">
            
            <ul id="ContentType-List">
                <li class="ContentType">
                    <span>Title Header</span>
                    <button class="AddType">[+]</button>
                </li>
                <li class="ContentType">
                     <span>Text Box</span>
                     <button class="AddType">[+]</button>
                </li>
                <li class="ContentType">
                     <span>Graph</span>
                    <button class="AddType">[+]</button>
                </li>
                <li class="ContentType">
                    <span>Image</span>
                    <button class="AddType">[+]</button>
                </li>
                <li class="ContentType">
                    <span>Table</span>
                    <button class="AddType">[+]</button>
                </li>
                
            </ul>
        </div>
    </div>
    
</body>
</html>