<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/contentType.css">
    <title>Document</title>
</head>
<body>
    <div id="Content">
        <div id="contentName">
            <button id="ReturnButton">Back</button>
            <header>Title Header</header>
        </div>
         <div id="contentDescription">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde commodi eum iste ipsum delectus repellat, voluptates iure, aperiam itaque cum perspiciatis labore facilis provident sunt consequuntur aliquid, quae animi?</p> 
        </div>
          
            <button id="AddContent">Add</button>
          
    </div>
</body>
</html>